<div class="container-info">
    <p class="info-title"><b>Agrimayoristas</b> es una Tienda de Agriconecta que permite a las empresas Mayoristas de insumos agrícolas conectarse de forma directa con los agroservicios registrados en Agriconecta. En esta página los agroservicios pueden realizar su compra y abastecer sus tiendas virtuales.</p>
</div>
<h1 class="agri-title">Si quieres inciar tu compra da click en el cuadro de abajo para ingresar a Agrimayoristas</h1>
<div class="agri-container">
    <div class="agrimayorista">
        <a href="https://agrimayoristas.agriconecta.com/" target="_blank"><img src="<?php echo $this->getViewFileUrl('Agriconecta_AgrimayoristaRedirect::images/agriconecta.png'); ?>" alt="logo" class="img-agri" /></a>
    </div>
</div>