//Variables 
@color-green-agriconecta: #7CBA37;
@borde: 1px solid #E7E5E5;
@sombra-desktop: 4px 4px #EEEEEE;
@sombra-hover: #B4B4B4;

//Funciones
.centrar-elementos(){
  display: flex;
  align-items: center;
  justify-content: center;
}

//clases
.agri-container{
  .centrar-elementos;
  width: 100%;
  height: 100px;
}

.agrimayorista{
  .centrar-elementos;
  border: @borde;
  width: 350px;
  height: 80px;
  border-radius: 15px;
  box-shadow: @sombra-desktop;
  cursor: pointer;

  &:hover{
    border: 1px solid @color-green-agriconecta;
    box-shadow: 4px 4px @color-green-agriconecta;
  }
}

.img-agri{
  width: 100%;
  height: 48px;
}

.agri-title{
  text-align: center; 
  color: @color-green-agriconecta;
  margin: 30px;
  font-weight: bold;
  font-size: 30px;
}

.container-info {
  .centrar-elementos;
  width: 100%;
  margin-top: 150px;
}
  
.info-title {
   text-align: center;
   font-size: 20px;
   color: #6C757D;
   font-weight: lighter;
}

@media only screen and (max-width: 767px) {
  
  .agrimayorista{
    width: 275px;
    height: 60px;
  }

  .img-agri{
    width: 250px;
    height: 38px;
  }

  .container-info{
    margin-top: 75px;
  }

}